body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.modal-content {
  min-height: 890px;
}

canvas {
  width: 100%;
  height: auto;
}

/* Covariate panel, canvas and chart */
#covariate-panel {
  display: inline-flex;
  height: 350px;
  overflow: hidden;
  overflow-x: scroll;
}

#covariate-panel div.covariate-group {
  margin-left: 4px;
  margin-right: 4px;
  width: 223px;
}

#covariate-panel div.modal-chart {
  width: auto;
  height: 150px;
}

#covariate-panel div.stage {
  position: relative;
  width: auto;
  height: 150px;
}

#covariate-panel canvas.modal-canvas {
  position: absolute;
}

#covariate-panel canvas.background {
  z-index: 1;
}

#covariate-panel canvas.foreground {
  z-index: 2;
}

/* Realization panel */
#realization-panel {
  display: inline-flex;
}

#realization-panel div.realization-group {
  margin-left: 4px;
  margin-right: 4px;
  width: 223px;
}

/* Chart styling */
.tick line {
  stroke: #c0c0bb;
  stroke-dasharray: 1 1;
}

.tick text {
  font-size: 0.75em;
  fill: #635f5d;
}

.line {
  fill: none;
  stroke: red;
  stroke-width: 1;
  stroke-linejoin: round;
  stroke-linecap: round;
}
